<div class="content-section1">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 offset-xl-3">
		{% section 'home-quicklink' %}
        {% section 'home-slider' %}
        {% section 'home-services' %}

      </div>
    </div>
  </div>
</div>
{{ content_for_index }}